.loginPageContent {
    width: 100%;
    height: 100%;
    background: rgb(223, 246, 242);
    background: linear-gradient(0deg, rgba(223, 246, 242, 1) 0%, rgba(227, 245, 241, 1) 11%, rgba(255, 255, 255, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.LoginTitleContainer {
    margin-top: 50px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.LoginTitleContainer img {
    width: 80px;
    margin-right: 10px;
}

.LoginTitle {
    font-family: Poppins-SemiBold;
    font-size: 26px;
    color: #266b63;
    text-shadow: 1px 1px 1.5px #000000;
}

.loginOptionsContainer_form{
    width: 100%;
    min-height: 170px;
    margin-bottom: 50px;
}


.loginOptionsContainer {
    width: 100%;
    height: 170px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.hideContainer{
    /* display: none; */
}

.loginInputsContainer{
    width: 100%;
    height: 230px;
    margin-bottom: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.loginOption {
    width: 85%;
    max-width: 600px;
    height: 42px;
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins-Bold;
    font-size: 14px;
    color: rgb(39, 39, 39);
    cursor: pointer;
    text-align: center;
}

.login-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputFieldLogin{
    font-family: Poppins-Bold;
}

.loginOption:hover{
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
}

.loginOption--google {
    border-color: rgb(9, 141, 141);
    background-color: white;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.10);
}

.loginOption--input {
    border-color: rgb(9, 141, 141);
    /* background-color: rgba(117, 117, 117, 0.048); */
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.10);
    box-sizing: border-box;
    padding: 10px;
}

.loginOption--submit {
    border-color: rgb(9, 141, 141);
    background-color: #1878f1;
    text-shadow: 1px 1px 1.5px #00000028;
    color: white;
    width: 50%;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.10);
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: -5px;
    margin-top: 8px;
}

.socialIcon{
    width: 22px;
    margin-right: 10px;
    fill: white;
}

.separator{
    width: 50px;
}

.loginOption--facebook{
    border: none;
    background-color: #1878f1;
    color: white;
    text-shadow: 1px 1px 1.5px #00000028;
}

.loginOption--local{
    height: 30px;
    border: none;
    color: #1c443f;
    text-shadow: 1px 1px 1.5px #00000028;
}

.loginOption--local:hover{
    box-shadow: none;
    text-shadow: 2px 2px 2.5px #00000028;
    text-decoration: underline;
}

.loginOption--create{
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: -10px;
}

.loginImg{
    width: 65%;
    max-width: 290px;
}

.prhaseLogin{
    text-align: center;
    font-family: Poppins-ExtraBold;
    color: rgb(32, 32, 32);
    width: 80%;
    font-size: 16px;
    margin-bottom: -20px;
}

.backBtn{
    color: #1c443f;
    text-shadow: 1px 1px 1.5px #00000028;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}

.backBtn:hover{
    text-shadow: 2px 2px 2px #00000028;
    background-color: rgba(125, 202, 179, 0.281);

}


/* */

.loginImg__Easter{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: animations_egg;
    animation-duration: 4s;
    animation-delay: 2s;
}

@keyframes animations_egg {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }

  .Easter__title{
    margin-top: 50px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Poppins-SemiBold;
    font-size: 26px;
    color: darkslateblue;
    text-shadow: 1px 1px 1.5px #000000;
    font-weight: bolder;
  }