.ButtonLink__Container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ButtonLink__Container p {
  margin: 0.5rem;
  color: grey;
  font-weight: bold;
}
