@import url('https://fonts.googleapis.com/css?family=Arvo:400i|Raleway');

.username {
    padding: 15px;
}

.form_add_comment{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form_add_comment--button{
    width: 20%;
}
.form_add_comment--input{
    width: 80%;
}
.comment{
    width: 90%;
    border-radius: 10px;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2),
                -1px -1px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 2vh;
    height: 150px;
}
.comment-text {
    width: 80%;
}
.info {
    /* border-top-right-radius: 10px; */
    color: black;
    font-weight: bold;
    font-family: 'Arvo', serif;
    font-size: 1.2em;
    justify-content: space-between;
    max-width: 100%;
    padding: 1vh;
    border-bottom:  1px solid lightgrey;
    margin-right: 10px;
}

#info-username {
    flex: 1;
}

.message {
    background-color: #fff;
    border-bottom-right-radius: 10px;
    color: #596E79;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    max-width: 80%;
    padding: 1vh;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:100%;
}
.comment-avatar {
    height: 100%;
    width: 20%;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    justify-content: center;
}
.comment-avatar img{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50%;
}
.row {
    display:flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
}

.delete_comment{
    float: right;
}
@media (max-width: 860px) {
    .form_add_comment{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .form_add_comment--button {
        width: 100px;
    }
    .comment{
        width: 350px;
        height: 100px;
    }
    .info{
        height: 50px;
    }
}

@media (max-width:1145px){
    .form_add_comment{
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
}

.no_comments_label{
    padding: 50px;
}