.eventsList{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
}

.filters-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
}

.filters-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    height: 350px;
    transition: 0.3s height;
}

.filters-container .filter-item {
    max-width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.filters-container .header-label {
    margin: 20px;
}

.filter-subitem {
    margin-bottom: 20px;
}