@font-face {
    font-family: Poppins-Light;
    src: url('./assets/fonts/poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('./assets/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('./assets/fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('./assets/fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: Poppins-ExtraBold;
    src: url('./assets/fonts/poppins/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: Teko-Medium;
    src: url('./assets/fonts/teko/Teko-Medium.ttf');
}

@font-face {
    font-family: Teko-SemiBold;
    src: url('./assets/fonts/teko/Teko-SemiBold.ttf');
}

@font-face {
    font-family: Teko-Bold;
    src: url('./assets/fonts/teko/Teko-Bold.ttf');
}
